<!-- 
    THIS IS GENERATED HTML.
    https://github.com/navjotahuja92
 -->
<!DOCTYPE html>
<html>
    <head>
        <title>
            Awesome Free Stuff
        </title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
            <style type="text/css">
                html, body{
                    font-family: 'Open Sans', sans-serif;
                }
                .collection {
                    font-size: 18px;
                    text-transform: uppercase;
                    font-weight: bolder;
                }
                #menu {
                    width: 22em;
                    margin: 0 auto;
                    text-align: left;
                }
            </style>
        </link>
    </head>
    <body>
        <div id="menu">
            <!--injectHere-->
        </div>
        <div id="content">
        </div>
        <div class="footer">
        </div>
    </body>
</html>